.about__title {
  display: flex;
  justify-content: center;
}

.about__title2 {
  padding-bottom: 1rem;
  color: aliceblue;
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 10rem;
  border-bottom: 4px solid rgb(187, 172, 37);
  width: 80vw;
  text-align: center;
}

.about__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
